doctype html
html
    head
        title Game Info Page
        style
            include ../styles/styles.css
    body
        div(class='form')
            h3 Game Info:
            img( height="200" width="200" src="data:image/jpeg;base64,"+game.image)
            p <b>Title:</b> #{game.title} 
            p <b>Category:</b> #{game.category}
            p <b>Min Players:</b> #{game.min_players} 
            p <b>Max Players:</b> #{game.max_players} 
            p <b>Playing Time:</b> #{game.playing_time} min
            p <b>Appropriate for Age:</b> #{game.age}+
            p <b>Complexity:</b> #{game.complexity}/10
            p <b>Description:</b> #{game.description} 

        